    body {background-color:blue}
    h1 {color: aliceblue;}
    h1 {font-family: Georgia, 'Times New Roman', Times, serif; }
    h1 {width: 800px;}
    p {color: aliceblue} 
    p {font-family: Georgia, 'Times New Roman', Times, serif;}
    p {font-size: 20px;}